thor/NimbusServers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Servers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Server" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="displayName" use="optional"/>
                <xs:attribute type="xs:string" name="hostName" use="optional"/>
                <xs:attribute type="xs:short" name="uiport" use="optional"/>
                <xs:attribute type="xs:string" name="username" use="optional"/>
                <xs:attribute type="xs:string" name="password" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>